

*{
    margin: 0;
    padding: 0;
}
.box {
    display: flex;
    background-color: rgb(17, 17, 17);
    height: 300vh;
    flex-direction: column;
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
@media (min-width: 450px){
    .box {
        display: flex;
        background-color: rgb(17, 17, 17);
        height: 200vh;
        flex-direction: column;
        background-position: center;  
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.positionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    
}

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.positionPicture {
    display: flex;
    justify-content: center;
    
    width: 20em;
    height: 20em;
}

.description {
    display: flex;
    justify-content: center;
    color: white;
    width: 35em;
    height: 40em;
}

@media (max-width: 500px){
    .description {
        display: flex;
        justify-content: center;
    
        width: 20em;
        height: 30em;
    }
    
}
